In [1]:
import os, pickle

import numpy as np
import pandas as pd

Samples in original set:  413,854

number of vulnerable samples in original set:  56,385

In [2]:
original_classes = [  15,  20,  22,  23,  36,  78,
  80,  88,  89,  90, 114, 119, 120, 121, 122, 123, 124, 
  125, 126, 127, 129, 134, 170, 176, 188, 189, 190, 191, 
  194, 195, 196, 197, 200, 222, 223, 242, 244, 252, 253, 
  256, 259, 269, 272, 284, 319, 321, 325, 327, 338, 352, 
  362, 363, 364, 366, 367, 369, 377, 391, 398, 400, 401, 
  404, 412, 414, 415, 416, 426, 427, 457, 459, 464, 467,
  468, 469, 475, 476, 479, 506, 510, 526, 535, 543, 562,
 563, 571, 587, 588, 590, 591, 605, 606, 609, 617, 620, 
 663, 665, 666, 674, 675, 680, 681, 682, 685, 688, 690, 
 758, 761, 762, 765, 771, 773, 774, 775, 780, 785, 787, 
 789, 805, 806, 820, 821, 822, 824, 828, 831, 833, 834, 835, 839, 843]

In [3]:
original_class_counts =[31,    4,   10, 2533, 2498, 1587,    4,  200,  660,  237,  694, 1940,   62, 5760,
 8356,    6, 3102,   12, 1786, 2735,   40, 2842,   54,   16,    6,    6,  702,  205,
 1709, 1528,   52,  225,  103,    2,    2,    8,   83,  118,  118,   74,   82,   15,
   22,   30,  584,   96,   51,   27,    5,    1,   51,  128,   22,    2,   71,  400,
   71,    1,   13,  594,  296,  107,   34,   19,  398,  554,  151,  318,  519,    3,
   59,   60,   21,   72,   26,  808,    2,  166,   53,    2,   24,   42,    3,    7,
    1,    6,   27, 1556,  120,   41,    2,   24,  143,    9,   29,    3,  400,   42,
  107, 1318,   28,    2,   15,   19, 1037,  320,  540, 1416,   80,  329,  201,   93,
   32,   28,  171,  144, 1586,   41,   49,   11,    8,   19,   10,    2,    1,   20,
   72,   92,   40,   31]

In [4]:
df = pd.DataFrame({'ID': original_classes, 'Count': original_class_counts})
df.index.name = 'index'
df

        ID  Count
index
0       15     31
1       20      4
2       22     10
3       23   2533
4       36   2498
...    ...    ...
125    833     20
126    834     72
127    835     92
128    839     40
129    843     31

[130 rows x 2 columns]

In [5]:
# Save tables to excel file
output_path = 'vul_samples_id_to_count.xlsx'
df.to_excel(output_path)

In [6]:
pd.set_option('display.max_rows', 130)

df.sort_values(by='Count')

        ID  Count
index
57     391      1
124    831      1
84     571      1
49     352      1
76     479      2
34     223      2
33     222      2
123    828      2
79     526      2
90     606      2
53     366      2
101    682      2
82     562      3
95     665      3
69     459      3
1       20      4
6       80      4
48     338      5
15     123      6
24     188      6
85     587      6
25     189      6
83     563      7
35     242      8
120    821      8
93     620      9
2       22     10
122    824     10
119    820     11
17     125     12
58     398     13
41     269     15
102    685     15
23     176     16
121    822     19
103    688     19
63     414     19
125    833     20
72     468     21
42     272     22
52     364     22
80     535     24
91     609     24
74     475     26
86     588     27
47     327     27
100    681     28
113    780     28
94     663     29
43     284     30
0       15     31
129    843     31
112    775     32
62     412     34
20     129     40
128    839     40
117    805     41
89     605     41
97     674     42
81     543     42
118    806     49
50     362     51
46     325     51
30     196     52
78     510     53
22     170     54
70     464     59
71     467     60
12     120     62
56     377     71
54     367     71
126    834     72
73     469     72
39     256     74
108    765     80
40     259     82
36     244     83
127    835     92
111    774     93
45     321     96
32     200    103
98     675    107
61     404    107
38     253    118
37     252    118
88     591    120
51     363    128
92     617    143
115    787    144
66     426    151
77     506    166
114    785    171
7       88    200
110    773    201
27     191    205
31     197    225
9       90    237
60     401    296
67     427    318
105    758    320
109    771    329
64     415    398
55     369    400
96     666    400
68     457    519
106    761    540
65     416    554
44     319    584
59     400    594
8       89    660
10     114    694
26     190    702
75     476    808
104    690   1037
99     680   1318
107    762   1416
29     195   1528
87     590   1556
116    789   1586
5       78   1587
28     194   1709
18     126   1786
11     119   1940
4       36   2498
3       23   2533
19     127   2735
21     134   2842
16     124   3102
13     121   5760
14     122   8356

In [7]:
df[df['Count'] >= 1500]

        ID  Count
index
3       23   2533
4       36   2498
5       78   1587
11     119   1940
13     121   5760
14     122   8356
16     124   3102
18     126   1786
19     127   2735
21     134   2842
28     194   1709
29     195   1528
87     590   1556
116    789   1586

14 out of 130 of our classes were not upsampled.

113 out of 130 of our classes had counts with less than 2/3rds of our upsampled threshold.

In [21]:
percentage_of_data = 0.025*8356
percentage_of_data

208.9

In [22]:
df[df['Count'] < 200].count()

ID       92
Count    92
dtype: int64

In [19]:
df[df['Count'] < 100].count()

ID       80
Count    80
dtype: int64

In [10]:
df[df['Count'] >= 400].count()

ID       28
Count    28
dtype: int64

In [11]:
df[df['Count'] <= 10].count()

ID       28
Count    28
dtype: int64

In [20]:
percentage_of_data = 0.05*8356
percentage_of_data

417.8

In [14]:
df[df['Count'] <= percentage_of_data].count()

ID       104
Count    104
dtype: int64

In [17]:
df[df['Count'] <= percentage_of_data].sort_values(by=['Count'])

        ID  Count
index
57     391      1
84     571      1
124    831      1
49     352      1
76     479      2
79     526      2
123    828      2
53     366      2
90     606      2
101    682      2
34     223      2
33     222      2
82     562      3
95     665      3
69     459      3
1       20      4
6       80      4
48     338      5
25     189      6
24     188      6
85     587      6
15     123      6
83     563      7
35     242      8
120    821      8
93     620      9
122    824     10
2       22     10
119    820     11
17     125     12
58     398     13
41     269     15
102    685     15
23     176     16
121    822     19
63     414     19
103    688     19
125    833     20
72     468     21
52     364     22
42     272     22
91     609     24
80     535     24
74     475     26
47     327     27
86     588     27
113    780     28
100    681     28
94     663     29
43     284     30
0       15     31
129    843     31
112    775     32
62     412     34
20     129     40
128    839     40
117    805     41
89     605     41
81     543     42
97     674     42
118    806     49
46     325     51
50     362     51
30     196     52
78     510     53
22     170     54
70     464     59
71     467     60
12     120     62
56     377     71
54     367     71
126    834     72
73     469     72
39     256     74
108    765     80
40     259     82
36     244     83
127    835     92
111    774     93
45     321     96
32     200    103
61     404    107
98     675    107
38     253    118
37     252    118
88     591    120
51     363    128
92     617    143
115    787    144
66     426    151
77     506    166
114    785    171
7       88    200
110    773    201
27     191    205
31     197    225
9       90    237
60     401    296
67     427    318
105    758    320
109    771    329
64     415    398
55     369    400
96     666    400

can try to augment the middle samples of > 100 up to 400 using smote.
Also try dropping anything less than 2.5%


Plot training and testing to show not overfitting. Look at notes from 478 (the param to change how many we oversample) - to show that we're not biasing.

Samples in new set after upsampling:  213518

In [ ]:
new_classes = [ 15,  20,  22,  23,  36,  78,  80,  88,  89,  90, 114, 119, 120, 121, 122, 123, 124, 125,
 126, 127, 129, 134, 170, 176, 188, 189, 190, 191, 194, 195, 196, 197, 200, 222, 223, 242,
 244, 252, 253, 256, 259, 269, 272, 284, 319, 321, 325, 327, 338, 352, 362, 363, 364, 366,
 367, 369, 377, 391, 398, 400, 401, 404, 412, 414, 415, 416, 426, 427, 457, 459, 464, 467,
 468, 469, 475, 476, 479, 506, 510, 526, 535, 543, 562, 563, 571, 587, 588, 590, 591, 605,
 606, 609, 617, 620, 663, 665, 666, 674, 675, 680, 681, 682, 685, 688, 690, 758, 761, 762,
 765, 771, 773, 774, 775, 780, 785, 787, 789, 805, 806, 820, 821, 822, 824, 828, 831, 833,
 834, 835, 839, 843]

In [ ]:
new_class_counts = [ 1500, 1500, 1500, 2533, 2498, 1587, 1500, 1500, 1500, 1500, 1500, 1940, 1500, 5760,
 8356, 1500, 3102, 1500, 1786, 2735, 1500, 2842, 1500, 1500, 1500, 1500, 1500, 1500,
 1709, 1528, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1556, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500, 1586, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500, 1500,
 1500, 1500, 1500, 1500]